@charset "euc-kr";
/* CSS Document */
#content{
	background-image: url(img/event_bg3.jpg);
	background-repeat: no-repeat;
}
#content p{margin:0 auto; position:relative; width:982px;}
#content div{margin:0 auto; position:relative; width:982px;}
#content p button{position:absolute; left:390px; bottom:200px; width:214px; height:38px;  background: url(img/btn_date.gif) no-repeat;}


.reply {background:#FFF;} 
.reply .reply_title {background:#2b2b2b; height:106px; *zoom: 1;}
.reply .reply_title:after {content:""; visibility:hidden; display:block; clear:both;}
.reply .reply_titl .reply_title_box {float: left;}
.reply .reply_title p {padding-top:25px; padding-left:70px;}
.reply .reply_title img {vertical-align: middle; margin-right:15px;}
.reply .reply_title textarea {width: 624px; height: 42px; padding: 5px; border: 1px solid #222; font-family:"돋움", "돋움체"; font-size: 12px; color: #444;}
.reply .reply_title button{width: 122px; height: 51px; background: url(img/btn_regist1.jpg) no-repeat; margin-left: 15px; vertical-align: middle; margin-right:60px;}
.reply_list{width:720px; margin:0 auto;}


/*장명환스타트*/
.eventsub{ width:982px; height:600px; *height:640px; background-color: #4f301e; text-align:left;}
.eventsub ul{margin-top:73px; margin-left:73px;}
.eventsub li{ float:left; margin-right:96px;}
.eventsub span{ float:left; margin-top:73px;}
.yadol{ position:absolute; top:440px; left:360px;}
.hotel1{ position:fixed; top:700px; *top:600px; left:-20px; z-index:100;}
.hotel2{ position:fixed; top:700px; *top:600px; right:-20px; z-index:100;}
#screenshot{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}